@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
  font-family: var(--root-font);
}

:root {
  --root-color: rgb(2, 216, 216);
  --background-color: rgb(14, 168, 168);
  --navbar-height: 6rem;
  --root-font: Roboto, san serif;
}

footer {
  width: 100%;
  background-color: var(--background-color);
  color: var(--root-color);
  text-align: center;
}

.navigationbar {
  background-color: var(--background-color);
  color: var(--root-color);
}

.expand {
  height: 100px;
  overflow: hidden;
  transition: all 1s;
}

.shrink {
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.icon {
  position: absolute;
  right: 3%;
  top: 30%;
}

#brand {
  font-size: 3rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

#navbar {
  height: var(--navbar-height);
}

#brand:hover {
  letter-spacing: 3px;
  color: rgba(103, 214, 214, 0.89);
}

#items {
  position: absolute;
  left: 20%;
}

.form {
  position: absolute;
  right: 180px;
}

button.list-group-item:hover{
  color: white;
  background-color: aqua;
  transition: all 0.4s;
}

.links a{
  color: rgb(10, 95, 95);
  text-decoration: none;
  transition: all 0.4s ease-out;
}

.links a:hover {
  color: var(--root-color);
}

.shop-off {
  position: absolute;
  right: 12%;
  top: 3%;
}

#main-screen {
  height: 120vh;
}

#navigationbar{
  position: sticky;
}

.newitem {
  margin-top: 8vh;
}

.img {
  width: auto;
  margin: auto;
  height: 20vh;
}

.img-holder {
  margin: auto;
  align-content: center;
}