:root {
  --background-color: rgb(2, 216, 216);
  --root-color: rgb(14, 168, 168);
  --navbar-height: 5rem;
}

footer {
  width: 100%;
  background-color: var(--root-color);
  color: var(--background-color);
  text-align: center;
}

.navigationbar {
  background-color: var(--root-color);
  color: var(--background-color);
}

.expand {
  height: 100px;
  overflow: hidden;
  transition: all 1s;
}

.shrink {
  height: 0px;
  overflow: hidden;
  transition: all 1s;
}

.icon {
  position: absolute;
  right: 3%;
  top: 30%;
}

#brand {
  font-size: 3rem;
  position: absolute;
  top: 2%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#navbar {
  height: var(--navbar-height);
}

#brand:hover {
  letter-spacing: 5px;
  font-size: 55px;
  color: orangered;
}

#items {
  position: fixed;
  left: 20%;
}

.form {
  position: fixed;
  right: 180px;
  top: 3%;
}